h1 {

  /* Optional margin if needed */
  display: flex;
  justify-content: center;
  align-items: center;
 
  /* This will center vertically within the viewport */
}

h3 {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  /*centers all h3 text on main page*/

}


.gutters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  /*centers large picture*/
}

