h1 {
    margin: 10px; /* Optional margin if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* This will center vertically within the viewport */
}
h2 {
    padding-left: 100px ;
    sixe
}
.description{
}
